.table {
    background-color: $color-table;

    &__row {
        background-color: $color-columns;
        text-align: center;
    }

    &--nested {
        background-color: #fff;
        padding: 20px;
    }
}

td {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
}
